<%= turbo_frame_tag :dialogs do %>
  <modal-box open class="modal modal-open">
    <div class="modal-box">
      <h1 class='text-3xl'>Commit changes</h1>
      <%= render 'form', blog: @blog, article: @article %>
      <div class="modal-action">
        <label for="my-modal-2" class="btn btn-primary">Accept</label>
        <label for="my-modal-2" class="btn" data-action='click:modal-box#close'>Close</label>
      </div>
    </div>
  </modal-box>
<% end %>
