<div class="flex justify-between flex-wrap w-full">
  <button type="submit" role="menuitem" data-reaction-label="+1" aria-label="thumbs up" value="THUMBS_UP react">
    <g-emoji alias="+1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png" class="emoji d-inline-flex">👍</g-emoji>
  </button>
  <button type="submit" role="menuitem" data-reaction-label="-1" aria-label="thumbs down" value="THUMBS_DOWN react">
    <g-emoji alias="-1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44e.png" class="emoji d-inline-flex">👎</g-emoji>
  </button>
  <button type="submit" role="menuitem" data-reaction-label="Laugh" aria-label="laugh" value="LAUGH react">
    <g-emoji alias="smile" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f604.png" class="emoji d-inline-flex">😄</g-emoji>
  </button>
  <button type="submit" role="menuitem" data-reaction-label="Hooray" aria-label="hooray" value="HOORAY react">
    <g-emoji alias="tada" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f389.png" class="emoji d-inline-flex">🎉</g-emoji>
  </button>
  <button type="submit" role="menuitem" data-reaction-label="Confused" aria-label="confused" value="CONFUSED react">
    <g-emoji alias="thinking_face" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f615.png" class="emoji d-inline-flex">😕</g-emoji>
  </button>
  <button type="submit" role="menuitem" data-reaction-label="Heart" aria-label="heart" value="HEART react">
    <g-emoji alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png" class="emoji d-inline-flex">❤️</g-emoji>
  </button>
  <button type="submit" role="menuitem" data-reaction-label="Rocket" aria-label="rocket" value="ROCKET react">
    <g-emoji alias="rocket" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f680.png" class="emoji d-inline-flex">🚀</g-emoji>
  </button>
  <button type="submit" role="menuitem" data-reaction-label="Eyes" aria-label="eyes" value="EYES react">
    <g-emoji alias="eyes" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f440.png" class="emoji d-inline-flex">👀</g-emoji>
  </button>
</div>
