<div class="flex flex-wrap m-1 ml-2 mt-0">
  <button type="submit" role="menuitem" class="btn-link col-3 flex-content-center flex-items-center flex-justify-center no-underline " data-reaction-label="+1" name="input[content]" aria-label="thumbs up" value="THUMBS_UP react">
    <g-emoji alias="+1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png" class="emoji d-inline-flex">👍</g-emoji>
  </button>
  <button type="submit" role="menuitem" class="btn-link col-3 flex-content-center flex-items-center flex-justify-center no-underline " data-reaction-label="-1" name="input[content]" aria-label="thumbs down" value="THUMBS_DOWN react">
    <g-emoji alias="-1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44e.png" class="emoji d-inline-flex">👎</g-emoji>
  </button>
  <button type="submit" role="menuitem" class="btn-link col-3 flex-content-center flex-items-center flex-justify-center no-underline " data-reaction-label="Laugh" name="input[content]" aria-label="laugh" value="LAUGH react">
    <g-emoji alias="smile" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f604.png" class="emoji d-inline-flex">😄</g-emoji>
  </button>
  <button type="submit" role="menuitem" class="btn-link col-3 flex-content-center flex-items-center flex-justify-center no-underline " data-reaction-label="Hooray" name="input[content]" aria-label="hooray" value="HOORAY react">
    <g-emoji alias="tada" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f389.png" class="emoji d-inline-flex">🎉</g-emoji>
  </button>
  <button type="submit" role="menuitem" class="btn-link col-3 flex-content-center flex-items-center flex-justify-center no-underline " data-reaction-label="Confused" name="input[content]" aria-label="confused" value="CONFUSED react">
    <g-emoji alias="thinking_face" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f615.png" class="emoji d-inline-flex">😕</g-emoji>
  </button>
  <button type="submit" role="menuitem" class="btn-link col-3 flex-content-center flex-items-center flex-justify-center no-underline " data-reaction-label="Heart" name="input[content]" aria-label="heart" value="HEART react">
    <g-emoji alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png" class="emoji d-inline-flex">❤️</g-emoji>
  </button>
  <button type="submit" role="menuitem" class="btn-link col-3 flex-content-center flex-items-center flex-justify-center no-underline " data-reaction-label="Rocket" name="input[content]" aria-label="rocket" value="ROCKET react">
    <g-emoji alias="rocket" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f680.png" class="emoji d-inline-flex">🚀</g-emoji>
  </button>
  <button type="submit" role="menuitem" class="btn-link col-3 flex-content-center flex-items-center flex-justify-center no-underline " data-reaction-label="Eyes" name="input[content]" aria-label="eyes" value="EYES react">
    <g-emoji alias="eyes" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f440.png" class="emoji d-inline-flex">👀</g-emoji>
  </button>
</div>
