<main class='min-h-full sm:flex items-center justify-center flex-col'>
  <h3><%= t('.welcome') %></h3>
  <p class='mt-4 text-secondary'><%= t('.intro') %></p>

  <div class='w-1/2 card bg-base-200 shadow-xl mt-8'>
    <div class='card-body'>
      <%= turbo_frame_tag(@user) do %>
        <%= render 'form', user: @user %>
      <% end %>
    </div>
  </div>
</main>
