<div class='sm:w-3/4 w-full mx-auto mt-32'>
  <div class='flex items-center'>
    <div class='sm:w-2/3 w-full'>
      <h1 class='text-4xl font-monospace'>Welcome to Chuspace</h1>
      <p class='font-sans mt-4'>Chuspace is a blogging platform built on Git. Publish, learn and collaborate using the tools you love and use everyday.</p>
    </div>

    <div class='sm:w-1/3 w-full'>
      <div class='card card-default'>
        <%= render 'identities' %>
      </div>
    </div>
  </div>
</div>
