<div class='text-center mt-32'>
  <h1 class='text-4xl'>Welcome to Chuspace</h1>

  <div class='card card-default'>
    <p>Login with one of the following:</p>
    <%= render 'identities' %>
  </div>
</div>
