<% if params[:q].present? %>
  <% if @repositories.any? %>
    <% @repositories.each do |repo| %>
      <li
        role="option"
        class='border-b border-gray-100 py-2 px-4 cursor-pointer last:border-b-0'
        data-autocomplete-value='<%= repo.fullname %>'
      >
        <%= repo.fullname %>
      </li>
    <% end %>
  <% else %>
    <div class='text-center py-12'>
      <h4 class='text-gray-600'>No repos found matching <%= tag.strong params[:q] %></h4>
    </div>
  <% end %>
<% end %>
