<%= turbo_frame_tag(:blog_settings, class: 'relative w-full block') do %>
  <h3 class='border-b pb-4'>Blogs</h3>
  <%= link_to 'Add new blog', new_blog_path, class: 'button button--fill absolute right-0 top-0' %>

  <%= turbo_frame_tag :blogs do %>
    <% if Current.user.blogs.any? %>
      <div class='list list--table mt-4'>
        <%= render partial: 'blogs/item', collection: Current.user.blogs, as: :blog, cached: true %>
      </div>
    <% else %>
      <div class='placeholder text-2xl'>No blogs</div>
    <% end %>
  <% end %>
<% end %>
