<%= turbo_frame_tag(:storage_settings, class: 'relative w-full block') do %>
  <h3 class='border-b pb-4'>Connected storages</h3>
  <%= link_to 'Add new storage', new_storage_path, class: 'button button--fill absolute right-0 top-0' %>

  <%= turbo_frame_tag :storages do %>
    <% if Current.user.storages.any? %>
      <div class='list list--table mt-4'>
        <%= render partial: 'storages/item', collection: Current.user.storages, as: :storage, cached: true %>
      </div>
    <% else %>
      <div class='placeholder text-2xl'>No storages connected</div>
    <% end %>
  <% end %>
<% end %>
