.form_field__container
  @apply mt-4 relative

  .input__label
    @apply block text-sm font-bold mb-2
    transition: color 0.5s

    &--inline
      @apply inline-block ml-2

    abbr
      text-decoration: none
      color: theme('colors.danger.400')

  .input__container
    @apply w-full relative

    &--borderless
      &::after
        @apply border-none

    &__label--floating
      &::before
        @apply absolute hidden text-sm border-r pr-2 italic pointer-events-none dark:text-prime-200 text-prime-400
        content: attr(data-label)
        top: calc(100% / 2 - 0.4rem)
        right: 110%

      @screen sm
        &::before
          @apply block

    &--inline
      @apply mt-6 flex justify-between
      &::after
        content: unset

  &.file
    .input__container::after
      @apply border-none

.input
  @apply py-2 px-4 bg-white w-full text-base border border-white bg-transparent
  transition: border-color 0.5s ease
  box-sizing: border-box

  &:focus, &:hover
    @apply outline-none shadow-none

  &--slim
    @apply text-sm shadow-md rounded
    padding: 0.2rem 0.5rem

  &--inline
    @apply inline-block w-auto mr-2 invisible

.input__error,
.input__hint
  @apply mt-2 block text-xs dark:text-prime-200 text-prime-400
  transition: color 0.5s ease

.input__hint
  @apply block

.input__error
  @apply hidden

.form_field__container--invalid
  .input__label
    @apply text-danger-300

  .input__container
    &::after
      @apply border-danger-400 border-b-2

  .input__hint
    @apply hidden

  .input__error
    @apply text-danger-300 block

  input-check
    @apply block w-full

[type='checkbox']:not(:checked) + label::before,
[type='checkbox']:checked + label::before
  position: absolute
  top: 4px
  left: 0
  height: 16px
  width: 16px
  border-radius: 2px
  content: ''
  background-color: theme('colors.prime.500')
  border: 1px solid theme('colors.prime.100')

[type='checkbox']::before:hover
  background-color: theme('colors.black')

[type='checkbox']:not(:checked) + label::after,
[type='checkbox']:checked + label::after
  left: 6px
  top: 7px
  width: 4px
  height: 8px
  border: solid #fff
  border-width: 0 2px 2px 0
  transform: rotate(45deg)
  content: ''
  position: absolute

[type='checkbox']:not(:checked) + label::after
  opacity: 0

[type='checkbox']:checked + label::after
  opacity: 1

[type='checkbox']:checked + label::before
  background-color: theme('colors.black')
