.list
  @apply p-0

  &--table
    @apply border border-white

  .list__item
    @apply py-4 block hover:bg-gray-800 px-2

  .list__item--bordered
    @apply border-b border-white

    &:last-child
      @apply border-b-0

.horizontal__list
    li
      list-style: none
      display: inline

      &:after
        content: " \00b7"

      &:last-child:after
        content: none

.series__list
  @apply relative mb-8
