@import '~prosemirror-view/style/prosemirror.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl font-bold font-sans;
  }

  h2 {
    @apply text-4xl font-semibold font-sans;
  }

  h3 {
    @apply text-2xl font-semibold font-sans;
  }

  h4 {
    @apply text-xl font-bold font-sans;
  }

  h5 {
    @apply text-base font-bold font-sans;
  }

  h6 {
    @apply text-sm font-bold font-sans;
  }

  strong {
    @apply font-sans font-semibold;
  }

  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }
}

@layer components {
  label {
    justify-content: flex-start !important;
  }

  .btn {
    @apply normal-case font-medium;
  }

  .card {
    @apply rounded-md;
  }

  .title-input {
    @apply w-full bg-transparent p-0 m-0 border-0 focus:outline-none focus:shadow-none text-4xl;
  }

  .summary-input {
    @apply w-full bg-transparent p-0 m-0 border-0 focus:outline-none focus:shadow-none text-xl mt-2;
  }

  .tab {
    @apply h-12;
  }

  .tabs {
    .tab {
      &.active {
        @apply relative text-primary;

        &::after {
          @apply absolute w-full bottom-0 border-b-2 border-b-primary;
          content: '';
        }
      }
    }
  }

  .active[dir='vertical'] {
    @apply relative bg-base-200 text-primary;

    &::before {
      @apply absolute border-l-2 border-l-primary left-0 h-full top-0;
      content: '';
    }
  }
}

.ProseMirror {
  @apply outline-none relative;
}

:root {
  --animation-btn: 0;
  --animation-input: 0;
}

auto-complete {
  ul {
    @apply hidden;
  }

  &[open] {
    ul {
      @apply block;
    }
  }
}

.header {
  @apply sm:fixed top-0 w-full bg-base-200 z-10;
  height: 55px;

  will-change: transform;
  transition: transform 200ms linear;

  &--show {
    transform: translateY(0%);
  }

  &--hide {
    transform: translateY(-100%);
  }
}

textarea {
  resize: none;
}

.lazy,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

img.lazy:not([src]) {
  visibility: hidden;
}
