<div class='sm:w-2/3 w-full mx-auto mt-24'>
  <%= turbo_frame_tag(:blogs, class: 'relative w-full block') do %>
    <div class='flex items-center border-b border-base-200 pb-3'>
      <h3 class='flex-1'>Blogs</h3>
      <div class='flex items-center'>
        <%= link_to 'Connect existing', connect_blog_path, class: 'btn btn-primary btn-sm', data: { 'turbo-frame': :_top } %>
        <%= link_to 'Add new', new_blog_path, class: 'btn btn-primary btn-sm ml-2', data: { 'turbo-frame': :_top } %>
      </div>
    </div>

    <%= yield %>
  <% end %>
</div>
