<tab-container>
  <div role="tablist">
    <%= link_to 'Connect', connect_blogs_path, type: "button", role: "tab", 'aria-selected': "true" %>
    <%= link_to 'Create', new_blog_path, type: "button", role: "tab", 'aria-selected': "false" %>
  </div>
</tab-container>
