<tab-container>
  <div role="tablist">
    <button type="button" role="tab" aria-selected="true">Connect</button>
    <button type="button" role="tab" tabindex="-1">Create</button>
  </div>

  <div role="tabpanel" class='mt-8'>
    <h1 class='text-3xl'>
      Connect an existing Github repository
    </h1>
    <p class='text-gray-600 text-sm mt-1'>
      The selected repository must support publishing posts using markdown.
      <strong>Example: Jekyll, Hugo or Astro</strong>
    </p>

    <%= render 'blogs/form', blog: blog, repo_folders: repo_folders, type: :connect %>
  </div>
  <div role="tabpanel" class='mt-8' hidden>
    <h1 class='text-3xl'>Create a new Github repository</h1>
    <p class='text-gray-600 text-sm mt-1'>
      New Github repository will be created using default
      <%= link_to 'blog template', 'https://github.com/chuspace/blog-template', class: 'link link--default', target: :_blank, rel: 'noopener noreferrer' %>
      based on <%= link_to 'Astro', 'https://astro.build/', class: 'link link--default', target: :_blank, rel: 'noopener noreferrer' %>
    </p>

    <%= render 'blogs/form', blog: blog, repo_folders: repo_folders, type: :new %>
  </div>
</tab-container>
