<div class='sm:w-2/3 w-full mx-auto'>
  <div class='border-b border-base-200 pb-3'>
    <h3>Connect an existing blog</h3>
    <div class='mt-2 text-secondary'>
      <p>
        Connect an existing static site blog hosted on one of the
        linked git storage providers.
        The selected git repository must support publishing posts using markdown.
        <code>Example: Jekyll, Hugo or Astro</code>
        Don't have an existing blog? <%= link_to 'Create one', new_blog_path, class: 'link link-primary' %>
      </p>
    </div>
  </div>

  <% if Current.user.storages.external.any? %>
    <%= render 'connect', blog: @blog %>
  <% else %>
    <div class='text-secondary text-center mt-8'>
      <h3 class='mb-4'>No external git storages found</h4>
      <p>You can only connect repositories from your own git storage providers. <p>For example: Github or Gitlab</p></p>
      <%= link_to 'Connect storage', new_storage_path, class: 'btn btn-primary btn-sm mt-4', data: { 'turbo-frame': '_top' } %>
    </div>
  <% end %>
</div>
