<%= render 'layout' do %>
  <div class='mt-4 mb-8 intro'>
    <p>
      Chuspace blogs are powered by git repositories connected to one of the
      git storage providers.
      You can either connect an existing blog repository from your git storage
      providers or add a new one.
    </p>
    <p class='mt-2'>Adding a new blog is only possible through Chuspace.com git storage</p>
  </div>

  <%= turbo_frame_tag :blogs do %>
    <% if @blogs.any? %>
      <div class='list list--table mt-4'>
        <%= render partial: 'blogs/item', collection: @blogs, as: :blog, cached: true %>
      </div>
    <% else %>
      <div class='placeholder text-2xl'>No blogs</div>
    <% end %>
  <% end %>
<% end %>
