<%= render 'layout' do %>
  <p class='mt-2'>
    A new Git repository will be created using the selected framework of your choice
    and will be hosted to chuspace git storage
    <%= link_to 'blog template', 'https://github.com/chuspace/blog-template', class: 'link link--default', target: :_blank, rel: 'noopener noreferrer' %>
    based on <%= link_to 'Astro', 'https://astro.build/', class: 'link link--default', target: :_blank, rel: 'noopener noreferrer' %>
  </p>

  <div class='mt-8'>
    <%= render 'new', blog: @blog %>
  </div>
<% end %>
