<div class='sm:w-2/3 w-full mx-auto'>
  <h3>Connect an existing blog</h3>
  <p class='text-secondary mt-2'>Simple three easy steps to get started</p>

  <div class="grid grid-cols-3 gap-4 my-8 w-full">
    <%= link_to 'Pick your Git Provider', connect_blogs_path, class: "tab tab-bordered" %>
    <%= link_to 'Pick a repository', connect_blog_path(git_provider: @git_provider.name), class: "tab tab-bordered" %>
    <a class="tab tab-bordered tab-active">Blog settings</a>
  </div>

  <h4>Finalise blog settings</h4>
  <div class='mt-2 text-secondary'>
    <p>
      Connect an existing static site blog hosted on one of the
      linked Git providers.
      The selected Git repository must support publishing posts using markdown.
      <code>Example: Jekyll, Hugo or Astro</code>
    </p>
  </div>

  <%= render 'blogs/form', blog: @blog, url: create_connect_blog_path(git_provider: @git_provider.name, repo_fullname: @blog.repo_fullname) %>
</div>
