<% if @draft.locked? && !allowed_to?(:commit?, @draft) %>
  <div class="alert alert-notice">
    <span class='flex-1 text-center block'><%= t('.locked', name: @draft.editor_lock.owner.name) %></span>
  </div>
<% end %>

<%= turbo_frame_tag(draft) do %>
  <%= simple_form_for draft, url: publication_update_draft_path(publication, draft), html: { 'data-turbo-frame': '_top' } do |form| %>
    <div class='mt-8' spellcheck="false" data-text='content' data-target='chu-editor.content'>
      <%= form.input(
          :body,
          as: :text,
          label: false,
          wrapper: false,
          input_html: { class: 'hidden', value: draft.local_content.presence || draft.decoded_content  }
        )
      %>
    </div>
  <% end %>
<% end %>
