<%= turbo_frame_tag(draft) do %>
  <%= simple_form_for draft, url: publication_update_draft_path(publication, draft), html: { 'data-turbo-frame': '_top' } do |form| %>
    <div class='mt-8' spellcheck="false" data-text='content' data-target='chu-editor.content'>
      <%= form.input(
          :body,
          as: :text,
          label: false,
          wrapper: false,
          input_html: { class: 'hidden', value: draft.local_content.value.presence || draft.decoded_content  }
        )
      %>
    </div>
  <% end %>
<% end %>
