<main class='w-full lg:w-1/2 md:mx-auto mt-12 sm:mt-24'>
  <div class='text-center'>
    <h2><%= t('.welcome') %></h2>
    <p class='mt-2 text-secondary text-sm'><%= t('.intro') %></p>
  </div>

  <div class='card bg-base-200 shadow-xl mt-8'>
    <div class='card-body'>
      <%= turbo_frame_tag(@user) do %>
        <%= render 'form', user: @user %>
      <% end %>
    </div>
  </div>
</main>
