<%= render 'layout' do %>
  <div class='grid grid-cols-3 gap-4 mt-8'>
    <section class='col-span-2'>
      <div class='card bordered'>
        <div class='card-body'>
          <div class='card-title'>About</div>
          <%= content_tag :article, @publication.readme, class: 'chu-editor chu-editor-sm' %>
        </div>
      </div>

      <div class='mt-8'>
        <%= render 'posts/list', posts: @publication.posts %>
      </div>
    </section>

    <%= render 'sidebar', publication: @publication %>
  </div>
<% end %>
