<div class='flex w-full text-article'>
  <%= inline_svg_tag 'icons/markdown', class: 'w-8 h-8 fill-current' %>
  <div class='ml-2'>
    <h2><%= article.title %></h2>
    <h6><%= link_to blog.user.username, profile_path, class: 'link link-default' %> / <%= link_to blog.name, blog_path(blog), class: 'link link-default' %></h6>
  </div>
</div>
