<div class='flex w-full text-article mt-2'>
  <div class='ml-2'>
    <%= link_to 'home', root_path, class: 'link link-default' %> /
    <%= link_to blog.user.username, profile_path, class: 'link link-default' %> /
    <%= link_to blog.name, blog_path(blog), class: 'link link-default' %></div>
</div>
