<div class='sm:w-2/3 mx-auto w-full'>
  <%= render 'header', blog: @blog, article: @article %>
  <chu-editor
    class='block mt-8'
    data-gramm="false"
    content='<%= @article.content %>'>
    <%= simple_form_for(:article, url: blog_article_path(@blog, @article), method: :put) do |form| %>
      <%= form.input :content, as: :text, label: false, wrapper: false, input_html: { class: 'hidden', value: @article.content } %>
    <% end %>
  </chu-editor>
</div>
