<div class='mt-32 relative'>
  <h1>All your articles here</h1>
  <%= link_to 'New article', new_blog_article_path(@blog), class: 'button button--fill absolute right-0' %>

  <div class='mt-16'>
    <% @articles.each do |article| %>
      <%= render 'article', blog: @blog, article: article %>
    <% end %>
  </div>
</div>
