<div class='sm:w-3/4 sm:mx-auto w-full mt-32 mx-auto'>
  <%= render 'header', blog: @blog, article: @article %>
  <div class='chu-editor mt-8'>
    <%= MarkdownRenderer.new.render(@markdown_doc).html_safe %>
  </div>
</div>
