<div class='grid grid-cols-3 h-screen max-h-screen overflow-hidden'>
  <div class='col-span-2 py-24 pr-8 h-full overflow-scroll'>
    <%= render 'publications/drafts/shared/preview' %>
  </div>

  <div class='col-span-1 mt-24 pl-8 border-l border-base-200'>
    <%= turbo_frame_tag(@post, class: 'h-full') do %>
      <%= render 'form', draft: @draft, post: @post, publication: @publication %>
    <% end %>
  </div>
</div>
