<%= turbo_frame_tag(dom_id(@draft, :new_publish)) do %>
  <dialog-opener>
    <div class="modal modal-open bg-base-200 h-screen sm:w-1/3 w-full right-0 left-auto" data-target='dialog-opener.dialog'>
      <div class="modal-box h-full w-full max-h-full pt-24 rounded-none bg-base-200">
        <h3>Publish</h3>
        <p class='text-sm text-secondary'>Publish your post on Chuspace</p>

        <%= turbo_frame_tag(@post) do %>
          <%= render 'form', draft: @draft, post: @post, publication: @publication %>
        <% end %>
      </div>
    </div>
  </dialog-opener>
<% end %>
