<div class='mt-32 relative'>
  <h1>All your articles here</h1>
  <%= link_to 'New article', new_blog_blob_path(@blog), class: 'button button--fill absolute right-0' %>

  <div class='mt-16'>
    <%= render 'articles/list', blobs: @blobs %>
  </div>
</div>
