<div class='sm:w-2/3 w-full mx-auto'>
  <h3>Connect your other publication</h3>
  <p class='text-secondary mt-2'>
    Start publishing under your publication name in three simple steps.
  </p>

  <%= yield %>
</div>
