<section class='sm:w-2/3 w-full mx-auto'>
  <h2>Connect your publication</h2>
  <p class='text-secondary text-sm'>
    Start publishing under your publication name in three simple steps.
  </p>

  <%= yield %>
</section>
