<%= render 'layout' do %>
  <div class="grid grid-cols-3 gap-4 my-8 w-full">
    <%= link_to 'Connect to Git provider', connect_other_publications_path, class: "tab tab-bordered tab-active" %>
    <a class="tab tab-bordered">Choose a Git repository</a>
    <a class="tab tab-bordered ">Content settings</a>
  </div>

  <h4>Connect to Git provider</h4>
  <div class='mt-2 text-secondary'>
    <p>
      Choose the Git provider where your other publication soure code is hosted.
    </p>
  </div>

  <section class='my-8'>
    <ul class='card bordered bg-base-200'>
      <%= render(
          partial: 'connect/shared/choose_git_provider',
          collection: @git_providers,
          as: :git_provider,
          locals: { publication: @publication },
          cache: true
        )
      %>
    </ul>
  </section>
<% end %>
