<div class='flex justify-between border-b border-base-200 pb-3'>
  <%= simple_form_for(:search, html: { class: 'flex-1' }) do |form| %>
    <%= form.input :name, label: false, input_html: { class: 'input-sm' }, placeholder: 'Search' %>
  <% end %>
  <div class='ml-8'>
    <%= link_to 'Edit', '#', class: 'btn btn-primary btn-sm ml-2' %>
  </div>
</div>

<div class='chu-editor'>
  <%= @user.personal_blog.parsed_readme.html.html_safe %>
</div>
