<% if @user.blogs.except_personal.any? %>
  <%= render 'blogs/list', blogs: @user.blogs.except_personal %>
<% else %>
  <div class='text-center py-16'>
    <div class='text-secondary w-2/3 mx-auto'>
      <h3>404</h3>
      <p class='mt-4'>
        Chuspace blogs uses git repositories to store and retrieve posts.
        Connect one to get started
      </p>
    </div>

    <div class='mt-8'>
      <%= link_to 'Connect', connect_blogs_path, class: 'btn btn-primary btn-sm', data: { turbo: :_top } %>
    </div>
  </div>
<% end %>
