<% if @user.personal_publication.present? %>
  <%= render 'posts/list', posts: @user.posts %>
<% else %>
  <div class='text-center py-16'>
    <h3 class='text-secondary'>404</h3>
    <div class='text-secondary mt-4 w-3/4 mx-auto'>
      <p>
        Your posts are sourced from your personal publication repository.
      </p>
      <p>Connect or create a new personal publication to get started</p>
    </div>

    <div class='mt-8'>
      <%= link_to 'Setup personal publication', connect_personal_publications_path, class: 'btn btn-primary btn-sm ml-2' %>
    </div>
  </div>
<% end %>
