.ProseMirror-trailingBreak
  @apply h-0

.ProseMirror > .ProseMirror-yjs-cursor:first-child
  margin-top: 16px

.ProseMirror p:first-child, .ProseMirror h1:first-child, .ProseMirror h2:first-child, .ProseMirror h3:first-child, .ProseMirror h4:first-child, .ProseMirror h5:first-child, .ProseMirror h6:first-child
  margin-top: 16px

/* This gives the remote user caret. The colors are automatically overwritten*/
.ProseMirror-yjs-cursor
  @apply font-sans

  position: relative
  margin-left: -1px
  margin-right: -1px
  border-left: 1px solid black
  border-right: 1px solid black
  border-color: orange
  word-break: normal
  pointer-events: none

/* This renders the username above the caret */
.ProseMirror-yjs-cursor > div
  @apply font-sans
  position: absolute
  top: -1.05em
  left: -1px
  font-size: 13px
  background-color: rgb(250, 129, 0)
  font-style: normal
  font-weight: normal
  line-height: normal
  user-select: none
  color: white
  padding-left: 2px
  padding-right: 2px
  white-space: nowrap

.chu-editor
  @apply antialiased font-sans

  line-height: 2rem
  font-size: 21px
  letter-spacing: 0.003rem
  text-rendering: optimizeLegibility
  outline: none

  .title
    @apply mb-2 mt-0 text-4xl

  .summary
    @apply mt-2 text-secondary opacity-80 text-xl

  .front-matter
    @apply mb-6

    &[open]
      @apply mb-0

  &.editable
    .title-empty, .summary-empty, .body-empty
      &::before
        @apply absolute pointer-events-none float-none h-auto text-base-300
        content: attr(data-text)

    .heading, .title, .summary
      @apply relative

      &::before
        @apply absolute text-sm border-r pr-2 italic hidden pointer-events-none text-secondary font-normal
        content: attr(data-text)
        top: calc(100% / 2 - 0.4rem)
        right: 105%

      @screen sm
        &::before
          @apply block

  &:last-child
    @apply mb-0

  blockquote
    @apply border-l-2 border-l-base-300 mb-8 w-full pl-4  sm:w-4/5
    font-style: italic
  a
    hyphens: auto
    cursor: pointer
    color: theme('colors.primary')
    text-decoration: underline
    overflow-wrap: break-word

  h1
    @apply text-3xl
  h2
    @apply text-2xl
  h3
    @apply text-xl font-medium
  h4
    @apply text-lg font-medium
  h5
    @apply text-base font-medium
  h6
    @apply text-base font-medium

  h1, h2, h3, h4, h5, h6
    @apply my-8

    a
      text-decoration: none

      &:hover
        text-decoration: underline

  strong
    @apply mb-8 font-bold

  code-editor, lazy-image, p
    @apply mb-8 block

  figure, p > div
    @apply whitespace-nowrap

  pre
    @apply whitespace-pre-wrap

  code
    @apply bg-secondary px-1 text-secondary-content rounded-sm whitespace-pre-wrap text-base font-normal

  div + br
    display: none

  .insertion
    @apply bg-success text-neutral max-w-full whitespace-normal

    pre
      @apply p-4 overflow-x-auto text-base

    *
      background: inherit
      color: inherit

    img
      @apply border-4 border-success

  .deletion
    @apply bg-error line-through text-neutral max-w-full whitespace-normal
    *
      background: inherit
      color: inherit

  ul, ol
    @apply ml-8 mb-8 list-disc

    li
      p
        @apply mb-2

  ol
    @apply list-decimal

  textarea.title
    @apply w-full bg-transparent p-0 m-0 border-0 focus:outline-none focus:shadow-none font-medium text-4xl

  textarea.summary
    @apply w-full bg-transparent p-0 m-0 border-0 focus:outline-none focus:shadow-none font-medium opacity-75 text-xl mt-2

  &-sm
    font-size: 16px
    line-height: 1.5rem

    p, h1, h2, h3, h4, h5, h6, lazy-image, code-editor, blockquote
      @apply mb-4
    h1
      @apply text-2xl
    h2
      @apply text-xl
    h3
      @apply text-lg font-medium
    h4
      @apply text-base font-medium
    h5
      @apply text-base font-medium
    h6
      @apply text-base font-medium

  contribution-modal
    @apply whitespace-nowrap
