.chu-editor
  font-weight: 400
  font-style: normal
  font-size: 22px
  color: theme('colors.accent')
  line-height: 1.8
  outline: none
  position: relative

  .heading, .title:not(.title__empty), .summary:not(.summary__empty)
    @apply relative

    &::before
      @apply absolute text-sm border-r pr-2 italic pointer-events-none text-secondary font-normal
      content: attr(data-text)
      top: calc(100% / 2 - 0.4rem)
      right: 105%

    @screen sm
      &::before
        @apply block

  .title__empty, .summary__empty, .body__empty
    &::before
      @apply absolute pointer-events-none float-none h-auto
      content: attr(data-empty-text)

  &:last-child
    @apply mb-0

  div
    @apply whitespace-nowrap

  blockquote
    @apply border-l-2 -ml-4 pl-4 mb-6
    font-style: italic

  .title
    @apply mb-2

  a
    hyphens: auto
    cursor: pointer
    color: theme('colors.primary')
    text-decoration: underline
    overflow-wrap: break-word

  h1, h2, h3, h4, h5, h6
    @apply my-12
    letter-spacing: -0.07rem

    a
      text-decoration: none

      &:hover
        text-decoration: underline

  strong
    @apply mb-6 font-bold

  code-editor, lazy-image, p
    @apply mb-6 block

  figure, p > div
    @apply whitespace-nowrap

  pre
    @apply whitespace-pre-wrap

  code
    @apply bg-secondary p-1 border border-secondary-focus text-secondary-content rounded-sm whitespace-pre-wrap text-base font-normal

  div + br
    display: none

  .insertion
    @apply bg-success text-success max-w-full whitespace-normal

    pre
      @apply p-4 overflow-x-auto text-base

    *
      background: inherit
      color: inherit

    img
      @apply border-4 border-success

  .deletion
    @apply bg-error line-through text-error max-w-full whitespace-normal
    *
      background: inherit
      color: inherit

  ul, ol
    @apply ml-8 mb-6 list-disc

    li
      p
        @apply mb-2

  ol
    @apply list-decimal
