<ul>
  <% count.times.each do |index| %>
    <article class='border-b last:border-b-0 border-base-200 py-4'>
      <div class='flex-1'>
        <svg class='w-full text-primary animate-pulse h-12 fill-current opacity-50'>
          <rect x="0" y="10" rx="5" ry="5" width="450" height="10" />
          <rect x="0" y="35" rx="5" ry="5" width="300" height="9" />
        </svg>
      </div>
    </article>
  <% end %>
</ul>
