<div class='text-center py-8'>
  <div class='text-secondary mt-4 w-3/4 mx-auto'>
    <p>Your do not have any publications connected</p>
    <p>Connect to get started.</p>

    <div class='mt-8'>
      <%= link_to 'Connect publication', connect_root_path, class: 'btn btn-primary btn-sm ml-2' %>
    </div>
  </div>
</div>
