<section>
  <h1 class='font-black leading-none'>
    <%= t('.heading') %>
  </h1>
  <h4 class="mt-8 w-full sm:w-3/4 font-normal text-secondary">
    <%= t('.intro') %>
  </h4>

  <div class='mt-12'>
    <%= link_to 'Get started', signups_path, class: 'btn btn-primary btn-md', 'data-turbo': false %>
    <%= link_to 'Know more', '#', class: 'btn btn-outline btn-md ml-2' %>
  </div>
</section>
