<h1>Welcome to Chuspace</h1>

<% if signed_in? %>
  <%= Current.user&.name %>
  <%= button_to 'Logout', logout_path(Current.user), method: :delete %>
<% else %>
  <%= button_to 'Login with github', '/auth/github' %>
  <%= button_to 'Login with gitlab', '/auth/gitlab' %>
<% end %>
