<% if signed_in? %>
  <section class='flex justify-between mt-24'>
    <main class='sm:w-2/3 w-full mr-12'>
      <%= render 'articles/list', articles: @articles %>
    </main>

    <aside class='sm:w-1/3 w-full'>
      <div class='card bordered'>
        <h5 class='px-4 pt-8'>Top blogs</h5>
        <%= render partial: 'blogs/mini_item', collection: Blog.all, as: :blog, cached: true %>
      </div>
    </aside>
  </section>
<% else %>
  <main class='min-h-full block sm:flex items-center justify-between'>
    <%= render 'marketing' %>
  </main>
<% end %>
