<section class='min-h-full flex items-center justify-between'>
  <div class='text-center sm:w-2/3 mx-auto'>
    <h1 class='font-bold bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary-focus lg:font-black text-9xl'>
      <%= t('.heading') %>
    </h1>
    <h4 class="mt-4 lg:mt-8 o text-xl font-normal text-secondary leading-normal">
      <%= t('.intro') %>
    </h4>

    <% unless Rails.env.production? %>
      <div class='mt-8 lg:mt-12'>
        <%= link_to 'Get started', signups_path, class: 'btn btn-primary', 'data-turbo': false %>
      </div>
    <% end %>
  </div>
</section>
