<section class='grid grid-cols-1 justify-center mt-24'>
  <div class='sm:text-center sm:w-2/3 mx-auto mt-8 sm:mt-0'>
    <h1 class='font-bold bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary-focus lg:font-black text-6xl xl:text-9xl lg:text-8xl md:text-7xl'>
      <%= t('.heading') %>
    </h1>
    <h4 class="mt-4 lg:mt-8 lg:text-xl md:text-lg font-normal text-secondary leading-normal">
      <%= t('.intro').html_safe %>
    </h4>

    <div class='mt-8 flex items-center sm:justify-center'>
      <%= link_to 'Get started', signups_path, class: 'btn btn-primary', 'data-turbo': false %>
      <%= link_to 'Our story', '#', class: 'btn btn-content btn-outline ml-2', 'data-turbo': false %>
    </div>
  </div>
</section>
