<aside class='col-span-1'>
  <ul class='card bordered side-menu'>
    <li class="border-b last:border-b-0 border-base-200">
      <%= tab_link_to t("users.settings.actions.profile"), setting_path(id: UserSetting::DEFAULT_PAGE), class: 'px-4 py-3 block', dir: :vertical, active_condition: :inclusive %>
      <%= tab_link_to t("users.settings.actions.publication"), publication_setting_path(user.personal_publication, id: :profile), class: 'px-4 py-3 block', dir: :vertical, active_condition: :inclusive %>
    </li>
  </ul>
</aside>
