<%= simple_form_for '', url: '#' do |form| %>
  <chu-editor class='h-full chu-editor mb-8' data-read-only='true'>
    <%= render 'publications/drafts/shared/header', title: title, summary: summary %>

    <div data-target='chu-editor.content'>
      <%= form.input(
          :content,
          as: :text,
          label: false,
          wrapper: false,
          input_html: { class: 'hidden', value: old_content, readonly: true }
        )
      %>
    </div>

    <div data-target='chu-editor.revision'>
      <%= form.input(
          :revision,
          as: :text,
          label: false,
          wrapper: false,
          input_html: { class: 'hidden', value: new_content, readonly: true }
        )
      %>
    </div>
  </chu-editor>
<% end %>
