<div class='chu-editor'>
  <%= content_tag :h1, @draft.title, class: 'title' %>
  <%= content_tag :h2, @draft.summary, class: 'summary' %>

  <%= content_tag :article, @draft.content_html.html_safe %>
</div>
