<div class='sm:w-2/3 w-full mx-auto mt-24'>
  <%= turbo_frame_tag(:storages, class: 'relative w-full block') do %>
    <div class='flex items-center border-b border-base-200 pb-3'>
      <h3 class='flex-1'>Blog storages</h3>
    </div>
    <div class='mt-4 mb-8 intro'>
      <p>
        Chuspace currently ships with its own git hosting which you can add
        for storing blog content but it also supports Github, Gitlab and Gitea.
      </p>
    </div>

    <%= yield %>
  <% end %>
</div>
