<%= render 'layout' do %>
  <%= turbo_frame_tag :storages_index do %>
    <% if @storages.any? %>
      <div class='list list--table mt-4'>
        <%= render partial: 'storages/item', collection: @storages, as: :storage, cached: true %>
      </div>
    <% else %>
      <div class='placeholder text-2xl'>No storages connected</div>
    <% end %>
  <% end %>
<% end %>
