<%= turbo_frame_tag :storage_settings do %>
  <div class='pb-4 flex items-center border-b'>
    <%= inline_svg_tag "icons/link", class: 'fill-current mr-2 w-6 h-6' %>
    <%= tag.h3 'Add new storage' %>
  </div>

  <%= render 'storages/form', storage: @storage %>
<% end %>
