<aside>
  <ul class='card bordered'>
    <li class='border-b border-base-200 px-4 py-2'><%= link_to 'Basics', '#'%></li>
    <li class='border-b border-base-200 px-4 py-2'><%= link_to 'Content', '#'%></li>
    <li class='border-b border-base-200 px-4 py-2'><%= link_to 'Frontmatter', '#'%></li>
    <li class='border-b border-base-200 px-4 py-2'><%= link_to 'Permission', '#'%></li>
  </ul>
</aside>
