<aside>
  <ul class='card bordered'>
    <% PublicationSettings::PAGES.each do |page| %>
      <li class="border-b last:border-b-0 border-base-200 px-4 py-3<%= active_tab?(publication_setting_path(publication, id: page)) %>">
        <%= link_to t("publications.settings.actions.#{page}"), publication_setting_path(publication, id: page) %>
      </li>
    <% end %>
  </ul>
</aside>
