<div class='sm:w-2/3 w-full mx-auto'>
  <h2>Connect your existing personal publication</h2>
  <p class='text-secondary mt-2'>
    Start publishing under your name in three simple steps.
  </p>

  <%= yield %>
</div>
