<div class='card bordered'>
  <header class='flex items-center justify-between border-b border-base-200 px-4 py-2 w-full'>
    <div><%= title %></div>
    <nav><%= actions %></nav>
  </header>

  <section>
    <%= body %>
  </section>
</div>
