<div class='card'>
  <% if title.present? || actions.present? %>
    <header class='flex items-center justify-between rounded-md bg-base-200 px-4 py-2 w-full'>
      <%= tag.h5 title %>
      <nav><%= actions %></nav>
    </header>
  <% end %>

  <section class='px-1'>
    <%= body %>
  </section>
</div>
