<div class='card'>
  <header class='flex items-center justify-between rounded-md bg-base-200 px-4 py-2 w-full'>
    <h5><%= title %></h5>
    <nav><%= actions %></nav>
  </header>

  <section>
    <%= body %>
  </section>
</div>
