<% title '500' %>

<div class="text-center mt-32">
  <h1 class="font-mono mb-3">500</h1>
  <h2 class="text-2xl">Sorry, something terribly went wrong.</h2>
  <p class='mt-4'>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
</div>
