<% title "422" %>

<div class="text-center mt-32">
  <h1 class="font-mono mb-3">422</h1>
  <h2 class="text-2xl">The change you wanted was rejected.</h2>
  <p class='mt-4'>
    Maybe you tried to change something you didn't have access to.
    If you are the application owner check the logs for more information.
  </p>
</div>
