<div class="flex mt-4 justify-between items-center">
  <% %w[facebook twitter email linkedin].each do |icon| %>
    <%= inline_svg_tag "icons/#{icon}.svg", class: 'w-4 h-4 fill-current cursor-pointer' %>
  <% end %>
</div>
