<div class="flex justify-between items-center">
  <% %w[facebook twitter email linkedin].each do |icon| %>
    <%= inline_svg_tag "icons/#{icon}.svg", class: 'w-6 h-6 fill-current cursor-pointer' %>
  <% end %>
</div>
