<%= turbo_frame_tag dom_id(@invite, :popup) do %>
  <dialog-opener>
    <div class="modal modal-open" data-target='dialog-opener.dialog'>
      <div class="modal-box">
        <h1 class='text-base font-normal mb-8'>Add to publication</h1>
        <%= link_to publication_people_path(@publication), class: 'absolute right-0 top-0 mt-8 mr-8', 'data-action': 'click:dialog-opener#close' do %>
          <%= inline_svg_tag('icons/x', class: 'w-4 h-4 fill-current') %>
        <% end %>
        <%= render 'form', invite: @invite %>
      </div>
    </div>
  </dialog-opener>
<% end %>
