<details class='dropdown dropdown-end'>
  <summary class='btn btn-outline btn-sm btn-primary ml-4'>
    <div class='flex items-center' data-menu-button>
      <%= inline_svg_tag('icons/gear.svg', class: 'w-4 h-4 fill-current') %>
    </div>
  </summary>
  <details-menu
    role="menu"
    tabindex="0"
    class="p-2 shadow menu dropdown-content absolute z-10 bg-base-300 rounded-box w-52"
  >
    <% if allowed_to?(:edit?, membership) %>
      <li><%= link_to 'Change role', edit_publication_person_path(publication, membership), 'data-turbo-frame': dom_id(membership, :popup) %></li>
      <li><%= button_to 'Remove', publication_person_path(publication, membership), method: :delete, class: 'text-error', 'data-turbo-frame': :_top %></li>
    <% end %>
  </details-menu>
</details>

<%= turbo_frame_tag dom_id(membership, :popup) %>
