<div class="text-sm breadcrumbs">
  <ul>
    <li>
      <%= link_to post.blog.owner.username, user_path(post.blog.owner), class: 'link link-primary' %>
    </li>
    <% unless post.blog.personal? %>
      <li>
        <%= link_to post.blog.permalink, user_blog_path(post.blog.owner, post.blog), class: 'link link-primary' %>
      </li>
    <% end %>
    <% if post.persisted? %>
      <li>
        <%= content_tag :span, "Revision ##{post.revisions.current.number}", class: 'text text-secondary' %>
      </li>
    <% end %>
  </ul>
</div>
