<details class='relative'>
  <summary class='text-sm lg:text-base cursor-pointer flex items-center'>
    <%= header %>
  </summary>
  <details-menu role="menu">
    <div class='dropdown'>
      <%= body %>
    </div>
  </details-menu>
</details>
