<div class='flex w-full text-article mt-2'>
  <div>
    <%= link_to 'home', root_path, class: 'link link-default' %> /
    <%= link_to blog.name, blog_path(blog), class: 'link link-default' %> /
    <%= content_tag :span, draft.name, class: 'text text-secondary' %>
  </div>
</div>
