<div class='card bordered'>
  <% if posts.any? %>
    <%= render partial: 'drafts/item', collection: posts, as: :post, cached: true %>
  <% else %>
    <div class='text-center text-2xl py-16'>No draft posts in this blog</div>
  <% end %>
</div>
