<div class='sm:w-2/3 mx-auto w-full'>
  <%= render 'header', blog: @blog, draft: @draft %>
  <chu-editor
    class='block mt-8'
    data-gramm="false">
    <%= simple_form_for(:draft, url: blog_drafts_path(@blog, @draft)) do |form| %>
      <%= form.input :content, as: :text, label: false, wrapper: false, input_html: { class: 'hidden' } %>
    <% end %>
  </chu-editor>
</div>
