<footer class='footer text-xs my-8 mt-24'>
  <div class='flex items-center'>
    <ul class='flex-1 text-xs'>
      <li>© <%= Time.current.year %> <strong class='text-secondary'>Chuspace</strong></li>
    </ul>

    <ul class='flex items-center'>
      <li class='mr-4'>
        <strong><%= link_to 'Privacy', 'https://chuspace.com/self/privacy-policy', class: 'underline' %></strong>
      </li>
      <li class='mr-4'>
        <strong><%= link_to 'Terms', 'https://chuspace.com/self/terms-and-conditions', class: 'underline' %></strong>
      </li>
      <li>
        <strong><%= link_to 'Contact', '#', class: 'underline' %></strong>
      </li>
    </ul>
  </div>
</footer>
