<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>
  <body class="flex flex-col h-full">
    <%= render 'layouts/flash' %>
    <%= render 'posts/header', post: @post %>

    <section class="container flex-1 pt-24">
      <%= yield %>
    </section>
  </body>
</html>
