<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>
  <body class="flex flex-col h-full">
    <%= render 'layouts/flash' %>
    <%= render 'publications/drafts/header', draft: @draft %>
    <section class="container flex-1 mt-24">
      <%= yield %>
    </section>
  </body>
</html>
