<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/flash' %>
    <section class="flex-1">
      <%= yield %>
    </section>
  </body>
</html>
