<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/flash' %>
    <%= render 'publications/drafts/header', draft: @draft %>

    <main class='container sm:mt-24'>
      <%= yield %>
    </main>
  </body>
</html>
