<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>
  <body class="flex flex-col h-full">
    <%= render 'layouts/flash' %>
    <%= render 'layouts/header' %>
    <main class="container flex-1 sm:mt-16">
      <section class='w-full'>
        <%= yield %>
      </section>
    </main>
  </body>
</html>
